@import 'settings/colors';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border: none;
  border-radius: 40px;
  box-shadow: 1px 1px 6px -2px black;
  background-color: $primary;
  cursor: pointer;
  padding: 12px;
  min-width: 150px;
  margin-bottom: 15px;
  color: white;
  &--no-bg {
    background-color: white;
    color: black;
  }
}

.response-box {
  margin: 20px 0;
  border: solid 2px;
  border-color: #78cc83;
  background-color: #b4ffb5;
  padding: 40px;
  text-align: center;
  &--failure {
    border-color: #cc7878;
    background-color: #ffb4b4;
  }
}


